
<h2>Stories:</h2>
<% @stories.each do |story| %>

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src='<%= story.url %>'>
          <span class="card-title">By <%= User.find(story.user_id).first_name %> <%= User.find(story.user_id).last_name %><small class="right-align"> <%= time_ago_in_words(story.created_at) %> ago</small></span>
        </div>
        <div class="card-action">
          <p><span class="badge"> <%=story.posts.all.count %> Posts</span><%= link_to story.title, user_story_path(current_user.id,story.id) %><div class="chip"><%= story.votes %> Likes</div></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
