<div class="center">

  <img src="<%= @story.url %>" />
  <h2><%= @story.title %></h2>
  <small> <%= time_ago_in_words(@story.created_at)  %> ago</small>
  <small><%= link_to "Edit", edit_user_story_path(@story) %></small>


  <% @posts.each do |post| %>
      <img src="<%= post.url %>" />
      <h1><%= post.sentence %><h1/>
        <small> <%= time_ago_in_words(post.created_at)  %> ago</small>

        <br>
  <% end %>

<h5>Continue the story with a new sentence:</h5>
  <%= render "posts/form" %>
</div>
