<div class="center">
  <div class="center">
    <div class="col s12 m7">
      <div class="card horizontal medium">
        <div class="card-image">
          <img src="<%= @story.url %>">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4><%= @story.title %></h4>
            <small> <%= time_ago_in_words(@story.created_at) %> ago</small>
            <small> by <%= User.find(@story.user_id).first_name %></small>
          </div>
          <div class="card-action">
            <div class="chip"><%= @story.votes_for.size%> Likes</div>

            <%= link_to "Edit", edit_user_story_path(@story) %>
            <%= link_to "Delete", user_story_path(@story), :data => {:confirm => "You sure?", :method => "delete"} %>
            <div class="right-align">
              <%= link_to "",  story_upvote_path(@story), class: 'btn-large waves-effect waves-teal btn-floating btn-flat fa fa-thumbs-o-up fa-3x' %>
              <%= link_to "",  story_downvote_path(@story), class: 'btn-large waves-effect waves-red btn-floating btn-flat fa fa-thumbs-o-down fa-3x' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h3 class="divider blue lighten-2 white-text">Posts</h3>
    <br>
  <% @posts.each do |post| %>
  <div class="card small">
    <div class="col s12 m7">
      <div class="card horizontal small">
        <div class="card-image">
          <img src="<%= post.url %>">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4><%= post.sentence %></h4>
            <small> <%= time_ago_in_words(post.created_at) %> ago</small>
            <small> by <%= User.find(post.user_id).first_name %></small>
          </div>
          <div class="card-action">
            <%= link_to "Edit", edit_story_post_path(@story, post.id) %>
            <%= link_to "Delete", story_post_path(@story, post.id), :data => {:confirm => "You sure?", :method => "delete"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <br>
  <h3 class="divider blue lighten-2 white-text">Add a new Post</h3>
  <br>
  <%= render "posts/form" %>
</div>
