<%= render "layouts/errors", :object => @post %>




<div class="card small">
  <div class="col s12 m7">
    <div class="card horizontal small">
      <div class="card-image">
        <img src=" <%= @url %> " alt="" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <%= form_for [@story, @post] do |f| %>
            <%= f.hidden_field :url, :value => @url %>
            <%= f.label :sentence %>
            <%= f.text_field :sentence %>
            <%= f.submit class: "btn"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
