<!DOCTYPE html>
<html>
  <head>
    <title>StoryTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue lighten-3">
        <%= link_to 'Story Time', root_path, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
          <ul>
            <li><%= link_to "New Story", new_user_story_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <li><div class="chip"><img src="https://avatars1.githubusercontent.com/u/20941128?v=3&s=460"><%= current_user.first_name %> <%= current_user.last_name %></div></li>
          </ul>
          <% else %>
            <ul>
              <li><%= link_to "Login", 'login' %></a></li>
              <li><%= link_to "Signup", 'signup' %></a></li>
            </ul>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
